body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.app-btn {
  all: unset;
  border: 1px solid #d3cfcf;
  background: #f6f6f6;
  color: black;
  padding: .5rem 1rem;
  border-radius: 3px;

  &:hover {
    background: #ffffff;
    cursor: pointer;
  }

  &:focus {
    background: #f0f0f0;
    cursor: pointer;
  }

  &:focus-visible {
    outline: 1px solid black;
  }
}